// colors:
// 1C8AA1
// F3F0CA
// F8C444
// F59725
// D84929
@import 'variables';
@import 'functions';
@import 'normalize';
@import 'dev-styles';

/***************************************/
/************ GLOBAL STYLES ************/
/***************************************/

:root {
    color: $text;
    font-family: 'Arial', sans-serif;
    // font-size: 18px; // sass-lint:disable-line property-units
}

h1 {
    font-size: 2.5rem;
}

section,
.limit-width {
    margin: 0 auto;
    max-width: 37rem;
    padding: 2rem .5rem;
}


/***************************************/
/********** COMPONENT STYLES ***********/
/***************************************/

.button {
    border: 1px solid $link;
    border-radius: 4px;
    display: inline-block;
    padding: 1rem;
    transition: trans(background-color), trans(color);

    @at-root a#{&} {
        color: $link;
        text-decoration: none;
    }

    &:hover {
        background-color: $link;
        color: white;
    }
}

.full-width {
    max-width: inherit;
}

.header {
    margin-bottom: 0;
    text-align: center;

    &__name {
        color: $link;
    }

    &--subheader {
        margin-bottom: 0;
        text-decoration: underline;
        text-decoration-color: $link;
    }

    &--small-header {
        color: $secondary;
        font-size: 1rem;
        text-align: left;
    }
}


.text {
    max-width: 37rem;
}

/***************************************/
/************ CONTENT STYLES ***********/
/***************************************/

.intro {
    background-color: #3e4860;
    box-sizing: border-box;
    color: white;
    display: table;
    height: 100vh;
    max-width: none;
    padding: 2rem 1rem;
    width: 100%;

    &__content-wrapper {
        display: inline-block;
        display: table-cell; //sass-lint:disable-line no-duplicate-properties
        vertical-align: middle;
    }

    .header {
        margin: 0;
    }

    &__tagline {
        // color: #3d3a67;
        font-size: 1.125rem;
        text-align: center;
    }
}


.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7rem 0 0;

    &--sticky {
        background-color: $text;
        left: 0;
        margin-top: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &__item {
        color: inherit;
        padding: 1.125rem;
        text-decoration-color: #7cbeff;
        transition: color .2s;

        &:hover {
            color: #7cbeff;
        }
    }
}


.about {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.language {
    &--html       {color: #e44b23;}
    &--css        {color: #563d7c;}
    &--sass       {color: #c69;}
    &--python     {color: #3572a5;}
    &--cpp        {color: #f34b7d;}
    &--javascript {color: #f1e05a;}
    &--java       {color: #b07219;}
}


.work {
    max-width: 65rem;
    text-align: center;

    &-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2rem auto;
    }

    &-item {
        background: no-repeat center/110%; // sass-lint:disable-line space-around-operator
        background-color: $secondary;
        border-radius: 4px;
        height: 210px;  // sass-lint:disable-line property-units
        overflow: hidden;
        position: relative;
        transition: background-size $transition-eo;

        &-wrapper:hover & { // sass-lint:disable-line force-pseudo-nesting
            background-size: 100%;
        }

        &-wrapper {
            color: inherit;
            display: block;
            text-decoration: none;
            width: 320px; // sass-lint:disable-line property-units
        }

        &__overlay {
            background-color: rgba(0, 0, 0, .6);
            border-radius: 4px;
            color: white;
            display: table;
            height: 100%;
            left: 0;
            opacity: 0;
            padding: 2.5rem;
            position: absolute;
            top: 0;
            transition: opacity $transition;

            .work-item-wrapper:hover & { // sass-lint:disable-line force-pseudo-nesting
                opacity: 1;
            }
        }

        &__description {
            display: inline-block; // For old IE support
            display: table-cell; // sass-lint:disable-line no-duplicate-properties
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            vertical-align: middle;
        }

        &__name {
            &-wrapper {
                margin: 1rem 0;
                text-align: center;
            }
        }
    }
}

.github-button {
    // sass-lint:disable property-units
    &__icon {
        height: 1em;
        padding-right: .5em;
        position: relative;
        top: 2px;
    }
    // sass-lint:enable property-units
}
