// colors:
// 1C8AA1
// F3F0CA
// F8C444
// F59725
// D84929
@import 'normalize';

/***************************************/
/************ GLOBAL STYLES ************/
/***************************************/

:root {
    color: hsl(0, 0%, 23%);
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

p {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}


/***************************************/
/********** COMPONENT STYLES ***********/
/***************************************/

.spacer {
    &--130 {
        height: 130px;
        width: 100%;
    }
}

.header {
    margin-bottom: 0;
    text-align: center;
}

.subheader {
    text-align: center;
    text-decoration: underline;
}

.text {
    max-width: 37rem;
}

/***************************************/
/************ CONTENT STYLES ***********/
/***************************************/

.intro {
    margin-top: 160px;

    &__tagline {
        color: #3d3a67;
        font-size: 1.125rem;
        margin-top: 0;
        text-align: center;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;

    &__item {
        color: inherit;
        margin: 0 20px;
        text-decoration-color: #7cbeff;
        transition: color .2s;

        &:hover {
            color: #7cbeff;
        }
    }
}

.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 130px;

    &__small-header, &__list {
        margin-left: 20px;
    }
}

// TODO: Individually color language names
// TODO: Fix gulp reloading CSS twice
