


.main {
    width: 75%;
    max-width: 500px;
    min-height: 150px;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.centered {
    text-align: center;
    margin: 5px;
}

.divider {
    background-color: grey;
    height: 1px;
